@model Track_Meet.Models.Runner

@{
    ViewData["Title"] = "Edit";
}

<h3>Edit</h3>

<h4>Runner</h4>
<hr />
<div class="row">
    <div class="col-md-4">
<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div class="form-group mb-3">
        <label asp-for="FirstName" class="control-label"></label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="LastName" class="control-label"></label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
        <div class="form-group mb-3">
            <label asp-for="Gender" class="control-label"></label><br>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" asp-for="Gender" value="Male">
                <label class="form-check-label" for="genderMale">Male</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" asp-for="Gender" value="Female">
                <label class="form-check-label" for="genderFemale">Female</label>
            </div>
            <span asp-validation-for="Gender" class="text-danger"></span>
        </div>

           <div class="form-group mb-3">
            <label asp-for="Event" class="control-label"></label>
            <select asp-for="Event" class="form-control">
                <option value="">Select Event</option>
                <option value="100 Meter Dash">100 Meter Dash</option>
                <option value="200 Meter Dash">200 Meter Dash</option>
                <option value="400 Meter Dash">400 Meter Dash</option>
                <!-- Add more options as needed -->
            </select>
            <span asp-validation-for="Event" class="text-danger"></span>
        </div>

    <div class="form-group mb-3">
        <label asp-for="Result" class="control-label"></label>
        <input asp-for="Result" class="form-control" />
        <span asp-validation-for="Result" class="text-danger"></span>
    </div>
    <div class="form-group mt-2">
                <input type="submit" value="Save" class="btn btn-warning" />
    </div>
</form>

    </div>
</div>

<div>
     <a asp-action="Index" class="btn btn-success mt-3">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
