@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-6">Track Meet - Runners Details</h3>
    <p>
        <a asp-controller="Runners" class="btn btn-primary">Show Details</a>
    </p>
</div>
